.container {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  background: var(--green-liner-bg-color);
  color: var(--black-font-color);
  border-radius: 12px;
  font-weight: 700;
  font-size: 0.75rem;
  height: 18px;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

.container:hover {
  border-color: var(--purple-border-color);
}

.container:active{
  background:  var(--blue-liner-bg-color);
}

