#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;

  --green-liner-bg-color: linear-gradient(135deg, #fff720 0%, #3cd500 100%);
  --black-font-color: #1e1e1e;
  --data-container-bg-color: #797979b8;
}

/* _____________________________________________ */

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  max-width: fit-content;
}
